*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.container{
    margin-top: 20px;
    border-left: 1px solid rgb(138, 137, 137);
    padding: 15px;
}
 .left{
    width: 50%;

}
.right{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 20px;
    text-align: center;

}
.right button{
    margin: 25px;
    border-radius: 4px;
    border: none;
    background: rgb(169, 170, 169);;
    padding: 10px 25px;
}
.right p{
    padding: 25px;
    text-align: justify;
}
.icon{
    font-size: 20px;
}
h1{
    color: rgb(66, 66, 66);
    margin-top: 20px;
}
h1:hover{
    cursor: pointer;
}

p{
    color: rgb(112, 112, 112);
}

.accordion .accordion-body {
    display: none; 
}

.accordion.show .accordion-body {
    display: block;
}
.text{
    display: none; 
}
.link{
    text-decoration: none;
    color: rgb(29, 126, 42);
    font-weight: bold;
}
.close-arrow{
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}