/* font-family: 'Playfair Display',
serif;
font-family: 'Poppins',
sans-serif; */
:root {
    --font-family1: 'Poppins',sans-serif ;
    --font-family2: 'Playfair Display',serif;
    --branding-color: #6C63FF;
}
body{
    font-family: var(--font-family1);
}
h1,h2,h3,h4,h5,h6{
    color: black;
    font-family: var(--font-family2);
    font-weight: bold;
}
h1{
    font-size: 90px;
}
p{
    font-family: var(--font-family1);
    font-weight: normal;
}
.hero{
    background: #F9F7FE;
    text-align: center;
    padding: 160px 20px;
}
.hero p{
    font-size: 36;
    font-weight: bold;
    margin: 0;
}
.hero h2{
    line-height: 2;
    font-family: var(--font-family1);
    font-weight: normal;
    font-size: 24px;
}
.btn-bd-primary{
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 27px;
    padding: 15px 30px;
}





.about-section h1{
    font-family: var(--font-family2);
    font-size: 64px;
    line-height: 88px;
}
.about-section p{
    font-size:18px;
    font-family: var(--font-family1);
}