@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,600&family=Poppins:ital,wght@0,700;1,300;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b061f;
    font-family: "Poppins" , sans-serif;
}
/* slider */
.slide-content {
    margin: 0 40px;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: gray;
    padding: 40px 0;
}
.card {
    width: 320px;
    border-radius: 25px;
    background: #fff;
}
.img-content , .card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img-content{
    position: relative;
    row-gap: 5px;
    padding: 25px ;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
    background: #4070F4;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    background: white;
    padding: 3px;
    border-radius: 50%;
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: blue;
}
.description{
    font-size: 14px;
    color: #0b061f;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.button:hover{
    background: #265DF2;

}